@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.v-main-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.v-catalog {
  & h1 {
    width: 100%;
    text-align: center;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.v-catalog-item {
  flex-basis: 25%;
  box-shadow: 0 0 8px 0 #c0c0c0;
  padding: $padding * 2;
  margin-bottom: $margin * 2;
  &__image {
    width: 100px;
  }
}
